<p id="notice"><%= notice %></p>

<h1>Dish List</h1>

<% @courses.each do |course| %>
  <p><%= course.name %></p>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Description</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% course.dishes.each do |dish| %>
        <tr>
          <td><%= dish.name %></td>
          <td><%= dish.price %></td>
          <td><%= dish.description %></td>
          <td><%= link_to 'Show', dish %></td>
          <td><%= link_to 'Edit', edit_dish_path(dish) %></td>
          <td><%= link_to 'Destroy', dish, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
<% end %>
