<div class="col-xs-12 col-sm-10 col-md-8 col-lg-8">
  <h1>Restauranty</h1>
</div>
<br />
<div class="table-responsive col-xs-12 col-sm-10 col-md-8 col-lg-8">
  <% @courses.each do |course| %>
    <h3><%= course.name %><span> <%= link_to 'Add Dish', new_dish_path(course_id: course.id),
        class: "btn btn-default", role: "button" %>
      </span>
    </h3>
    <table class="table table-hover">
      <thead>
        <tr>
          <th class="col-md-4">Name</th>
          <th class="col-md-4">Price</th>
          <th class="col-md-4">Description</th>
        </tr>
      </thead>
      <tbody>
        <% course.dishes.each do |dish| %>
        <tr>
          <td class="col-md-4"><%= link_to dish.name, edit_dish_path(dish) %></td>
          <td class="col-md-4"><%= number_to_currency(dish.price) %></td>
          <td class="col-md-4"><%= dish.description %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
