<p id="notice"><%= notice %></p>

<h1>Dish List</h1>

<% @courses.each do |course| %>
  <div><%= course.name %> <span><td><%= link_to 'Add Dish', new_dish_path(course_id: course.id) %></td></span></div>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Description</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% course.dishes.each do |dish| %>
        <tr>
          <td><%= link_to dish.name, edit_dish_path(dish) %></td>
          <td><%= number_to_currency(dish.price) %></td>
          <td><%= dish.description %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
<% end %>
